*{
    font-family: 'IM Fell French Canon', serif;
}

#header{
    color: white;
    background-image: url("Images/header.jpg");
    height: 95vh;
    background-position: center;
    background-size: cover;
}

@media (max-width:576px){
    #header{
        padding: 0 100px;
    }
}